.SummarySectionWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .SummaryDetails {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #575d64;
    margin: 0;
  }
  
  .NoResultsWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .NoRecordsImg{
    margin-bottom: 16px;
  }